# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
documentation
/tmp
/out-tsc
public
.firebaserc

# IDEs and editors
/.firebase
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Distribution / packaging
.Python
env/
build/
lib/

# dotenv
.env

# virtualenv
.venv
venv/

# mypy
.mypy_cache/
__pycache__/

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py
