{% extends 'shop/layout.html' %}

{% load static %}
{% block extrahead  %}
    <link rel="stylesheet" href="{% static 'shop/category.css' %}">
    <link rel="stylesheet" href="{% static 'shop/fix_navbar.css' %}">
{% endblock %}

{% block content %}
<div class="w-100 category-cover" style="background-image: url('https://images.unsplash.com/photo-1472035846169-06348f2377fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
    <div class="jumbotron m-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto">
                {% if bikes|length > 0 %}
                    <h1 class="display-3 text-white font-weight-bold text-uppercase">{{ category_name }}</h1>
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur eos odio.</p>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eveniet fugit laborum nisi numquam. Ab ad in ipsa necessitatibus nihil pariatur repudiandae!</p>
                    <hr class="my-4 border-top border-success">
                    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
                {% else %}
                    <h1 class="display-3 text-warning text-uppercase">No bikes for this category!</h1>
                    <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur eos odio.</p>
                    <a class="btn btn-info btn-lg" href="/search?q={{ category_name }}" role="button">Search here</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3">
        {%for bike in bikes%}
            <div class="col mb-4 bike">
                <a href="/bike/{{ bike.name }}" class="text-decoration-none">
                    <div class="card h-100 shadow-sm">
                        <img src="{{bike.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{bike.name}}</h5>
                            <p class="card-text text-truncate">{{bike.description}}</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <span class="product-price">{{bike.price}} &euro;</span>
                                <small class="text-muted">Madhesia :{{bike.size}}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor%}
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#MainNavbar').addClass('sticky-top');
        });
    </script>
{% endblock %}
