{% extends 'shop/layout.html' %}

{% load static %}
{% block extrahead  %}
    <link rel="stylesheet" href="{% static 'shop/contact.css' %}">
{% endblock %}

{% block content %}

	<div class="container contact-form">
            <form action="" method="post">
                {% csrf_token %}

                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">{{form.name}}</div>
                        <div class="form-group">{{form.email}}</div>
                        <div class="form-group">{{form.phone}}</div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                {{ form.message }}
                        </div>
                    </div>
                </div>
            </form>
</div>
    {% endblock %}